@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

footer {
	background: white;
	
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: black;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #000;
}
.single-box .card-area i {
	color: #000;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #000;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #000;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #000;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}

.black-section{
    background-color: #000;
    color: white;
}

.rounded-custom-footer{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.text-decor{
    text-decoration-color: #00fe8a !important;
}

.heading-text-footer-section{
    font-size: 33px;
    font-weight: bold;
}

.text-footer-section{
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: -0.20000000298023224px;
	text-align: justified;
}
.footer-bottom{
	font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}

@media (min-width:320px) and (max-width:374px){
	.heading-text-footer-section{
		font-size: 27px;
		font-weight: bold;
	}
	.fa-2x {
		font-size: 1.3em;
		padding-top: 1px;
		padding-bottom: 1px;
	}
}


@media (min-width:320px) and (max-width:425px) {
	.custom-styling-at-mobile{
		display: flex !important;
		flex-direction: column !important;
		align-items: center !important;
	}
}

@media (min-width:375px) and (max-width:424px){
	.heading-text-footer-section{
		font-size: 32px;
		font-weight: bold;
	}
}

@media (min-width:375px) and (max-width:424px){
	.heading-text-footer-section{
		font-size: 32px;
		font-weight: bold;
	
	}
	.fa-2x {
		font-size: 1.6em;
		padding-top: 1px;
		padding-bottom: 1px;
	}
}
@media (min-width:425px) {
	.heading-text-footer-section{
		font-size: 36px;
		font-weight: bold;
	}
	.fa-2x {
		font-size: 1.6em;
		padding-top: 1px;
		padding-bottom: 1px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
	.heading-text-footer-section{
		font-size: 30px;
	}
}


@media (min-width: 768px) and (max-width: 2560px) {
	.fa-2x {
		font-size: 1.3em;
		padding-top: 1px;
		padding-bottom: 1px;
	}
}


